
* {
    box-sizing: border-box;
}
body {
    min-width: 320px;
    width: 100%;
    margin: 0;
    font-family: "montserrat", sans-serif;
    color: yellow;
    background-color: black;
    min-height: 100vh;
}
main a:hover {
    color: #0088a9;
}
main{
    width: 100%;
    padding: 0;
    align-items: center;
}

main a {
    text-decoration: none;
    color: yellow;
}

/*detail artist*/
.imagen_artista{
    width: 100%;
}
.titulo{
    font-size: 40px;
    margin: 0;
    padding-left: 2%;
}
.info_artista{
    padding-left: 2%;
    margin: 0;
}
.titulo_lista{
    margin: 0;
    padding-left: 2%;
    padding-top: 20px;
}
.menu_lista{
    display: flex;
    align-items: center;
    font-size: 13px;
}
.imagen_menu{
    width: 18%;
    padding-left: 2%;
}
.posicion_menu{
    width: 7%;
    padding-left: 2%;
}
.nombre_menu{
    width: 40%;
    padding-left: 4%;
}
.reproducciones_menu{
    width: 35%;
}
.lista_canciones{
    display: flex;
    align-items: center;
}
.imagen_all{
    width: 20%;
    border-radius: 100%;
}
.nombre_cl{
    width: 50%;
    padding-left: 2%;
}
.reproducciones{
    width: 30%;
    padding-left: 2%;
}
ol {
    font-size: 13px;
    margin: 0;
    padding-left: 25px;
}

/*detail track*/
.imagen_secundaria{
    width: 35%;
}
.agregar {
    margin: 0;
}
.sector_foto{
    display: flex;
    flex-direction: row;
}
.info_sector{
    width: 65%;
    padding-left: 2%;
}
.info_sector p{
    margin: 0;
    padding-top: 3%;
}

/*detail album*/
.nombre_cl_alb{
    width: 70%;
    padding-left: 2%;
}
.reproducciones_alb{
    width: 25%;
    padding-left: 2%;
}
.posicion_menu_alb{
    width: 7%;
    padding-left: 4%;
}
.nombre_menu_alb{
    width: 57%;
    padding-left: 4%;
}
.reproducciones_menu_alb{
    width: 33%;
}
.agregado_album{
    display: flex;
    align-items: center;
    padding-left: 3%;
}
.mini{
    width: 10%;
    border-radius: 100%;
}
.fecha{
    padding-left: 4%;
}
.nombre_agregado{
    padding-left: 3%;
}