@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

* {
    box-sizing: border-box;

}

header {
    display: flex;
    flex-direction: column;
}

header,
footer {
    background-color: #131314;
    color: yellow;
    font-family: "Montserrat", sans-serif;
}

header {
    background-color: #131314;
    width: 100%;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: column;
}

header img {
    width: 25%;
}

header ul {
    display: flex;
    width: 100%;
    margin: auto;
    padding: 0;
}

header li {
    list-style: none;
    padding: 0;
    margin: auto;
    width: 25%;
    text-align: center;
}



header a {
    color: yellow;
    text-decoration: none;
}

header a:hover {
    color: teal;
}

footer {
    display: flex;
    height: auto;
    color: black;
    background-color: yellow;
    margin-top: 30px;
    flex-wrap: wrap;
    font-weight: bold;
}

.nombres {
    list-style: none;
    margin: 0;
    padding-left: 3%;
    width: 50%;
    margin-top: 10px;
    font-weight:bold;

}

.sociales {
    display: flex;
    list-style: none;
    padding-left: 3%;
    margin: 0;
    margin-top: 10px;
    margin-bottom: 10px;
}

.sociales li {
    margin-left: 10px;
}

footer a {
    text-decoration: none;
    font-style: oblique;
    color: black;
}

footer a:hover {
    color: dodgerblue;
}


@media (min-width: 500px) {
    header ul {
        font-size: 30px;
    }

    .nombres {
        font-size: 25px;
    }

    .sociales a {
        font-size: 15px;
    }
}

@media (min-width: 1000px) {
    header ul {
        font-size: 40px;
    }

    .nombres {
        font-size: 20px;
        display: flex;
        width: 40%;
    }

    .nombres li {
        margin-left: 10px;
    }

    .sociales a {
        font-size: 25px;
    }
}