
header nav{
    float: right;
    margin-top: 60px;
    margin-right: 200px;
}
a{
    font-size: 30px;
    text-decoration: none;
    font-style: oblique;
    color: yellow;
}
header a{
    font-size: 40px;
    text-decoration: none;
    font-style: oblique;
    color: yellow;
}
header li:hover a{
    color: white;
}
header{
    background-color: black;
}
a{
    font-size: 30px;
    text-decoration: none;
    font-style: oblique;
    color: yellow;
}
header li{
    float: left;
    list-style: none;
    padding: 10px;
}
li:hover a{
    color: white;
}
footer{
    position: absolute;
    bottom: 0;
    background-color: black;
    height: auto;
    width: 100;
    left: 0;
    height: auto;
    
    padding-top: 40px;
    color: yellow;
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
