@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

* {
    box-sizing: border-box;
   
}

header{
    display: flex;
}

header, footer {
    background-color: #131314;
    color: yellow;
    font-family: "Montserrat", sans-serif;
}


header img {
    width: 25%;
}

header ul{
    width: 75%;
    margin: auto;
    padding: 0;
}