/*<meta name="viewport" content="width=device-width, initial-scale=1.0">*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');
* {
    box-sizing: border-box;
}
body {
    font-family: "montserrat", sans-serif;
    color: yellow;
    background-color: black;
    min-height: 100vh;
}
main a:hover {
    color: #0088a9;
}
main a {
    text-decoration: none;
    color: yellow;
}
main h1{
    width: 100%;
    text-align: center;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 5px;
}
main h2{
    width: 100%;
    text-align: center;
    margin: auto;
    padding-bottom: 5px;
    padding-top:60px;
}
section{
    display: flex;
    flex-flow: row wrap;
    margin: auto;
    justify-content: center;
}
article {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    width: 40%;
    padding-top: 10px;
}
.nombre_artista {
    margin: auto;
    font-size: 15px;
    text-align: center;
}
.imagen{
    width: 100%;
    border-radius: 100%;
}
.imagen img{
    width: 100%;
}


/* Para que se modifique en pantalla de Desktop*/
/*@media (min-width: 1024px)*/
