/*<meta name="viewport" content="width=device-width, initial-scale=1.0">*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: "montserrat", sans-serif;
    color: yellow;
    background-color: black;
    min-height: 100vh;
}


main a:hover {
    color: teal;
}

main a {
    text-decoration: none;
    color: yellow;
}

main h1 {
    width: 100%;
    text-align: center;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 5px;
}

main h2 {
    width: 100%;
    text-align: center;
    margin: auto;
    padding-bottom: 5px;
    padding-top: 60px;
}

section {
    display: flex;
    flex-flow: row wrap;
    margin: auto;
    justify-content: center;
}

.resultado {
    justify-content: flex-start;
    align-items: center;
    background-color: #55554d;
    border-radius: 15%;
}

.resultado div {
    width: 67%;
}

.canciones {
    justify-content: flex-start;
}

.albums {
    justify-content: flex-start;
}

.artistas {
    justify-content: flex-start;
}

.busqueda {
    justify-content: flex-start;
}

.resultado div p,
h3 {
    margin: 0;
}

.categoria {
    text-align: right;
    padding-right: 20px;
}

.resultados_parecidos {
    width: 30%;
}

.resultados_parecidos h3 {
    font-size: 15px;
}

.coment {
    text-align: left;
    margin-top: 30px;
    padding: 0;
}

article {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    width: 40%;
    margin: 1.5%;
}

.nombre_artista {
    margin: auto;
    font-size: 15px;
    text-align: center;
}

.imagen {
    width: 100%;
    border-radius: 100%;
}

.imagen img {
    width: 100%;
}


/* Para que se modifique en pantalla de Desktop*/
/*@media (min-width: 1024px)*/

@media (min-width: 500px) {
    .nombre_artista {
        font-size: 25px;
    }

    article {
        width: 30%;
    }

    h1 {
        font-size: 35px;
    }

    h2 {
        font-size: 35px;
    }


}

@media (min-width: 1000px) {
    article {
        width: 18%;
        margin: 1%;
    }

    .nombre_resultado a {
        font-size: 100px;
    }

    .resultado p {
        font-size: 45px;
    }

    .busqueda h3 {
        font-size: 35px
    }
}