* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: yellow;
    background-color: rgb(14, 12, 12);
}
h1,h2 {
    text-align: center;
    text-transform: capitalize;
}
img {
    max-width: 100%;
    height: auto;
}
figure{
    margin: 0%;
}

main div.contenedor {
   padding-top: 0px;
   display: flex;
   flex-wrap: wrap;
}

main h1 {
    font-size: 50px;
}

main a {
    color: yellow;
}

main a:hover {
    color: white;
}

div.sections {
    display: flex;
    flex-direction: column;
}

article.artist {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
article figure {
    justify-content: left;
    

}

article figure img {
    display: block;
    object-fit: cover;
}

div.textos {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    flex-direction: column;
    justify-content: right;
}



